
<div
    id="page"
    class="p-5 background">
    <h1>
        Pedidos De Venda
    </h1>
    <p-card
        class="card">
        <p-toolbar 
            styleClass="mb-4 gap-2">
            <ng-template 
                pTemplate="left">
                <p-button
                    severity="success"
                    label="Novo"
                    class="mr-2" />
                <p-button
                    label="Editar"
                    class="mr-2" />
                <p-button
                    severity="danger"
                    disabled="true"
                    label="Excluir" />
            </ng-template>

            <ng-template pTemplate="right">
                <input
                    pInputText
                    type="text"
                    placeholder="Consultar Cliente" />
            </ng-template>
        </p-toolbar>
        <p-table
            [value]="salesRequestsItems"
            [columns]="salesRequestsColumns"
            [scrollHeight]="'600px'">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.label }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-salesRequest>
                <tr>
                    <td>
                        {{ salesRequest.orderNumber }}
                    </td>
                    <td>
                        {{ salesRequest.orderDate | date: 'dd/MM/yyyy' }}
                    </td>
                    <td>
                        {{ salesRequest.customerName}}
                    </td>
                    <td>
                        {{ salesRequest.product}}
                    </td>
                    <td>
                        {{ salesRequest.quantity}}
                    </td>
                    <td>
                        {{ salesRequest.totalValue}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
