<!-- Modal Para Cadastrar Cliente -->
<div 
    class="card flex justify-content-center">
    <p-dialog
        header="Novo Registro"
        [modal]="true"
        [(visible)]="isNewCustomerModalOpen"
        [style]="{ width: '25rem' }">
        <span 
            class="p-text-secondary block mb-5">
            Informações Do Cliente
        </span>
        <div 
            class="flex align-items-center gap-3 mb-3">
            <label
                for="username" 
                class="font-semibold w-6rem">
                Nome
            </label>
            <input
                pInputText 
                id="username" 
                class="flex-auto"
                [(ngModel)]="customer"
                autocomplete="off" />
        </div>
        <div 
            class="flex align-items-center gap-3 mb-5">
            <label 
                for="email" 
                class="font-semibold w-6rem">
                Tipo
            </label>
            <p-selectButton 
                [options]="personTypes" 
                [(ngModel)]="personTypeValue" 
                optionLabel="label" 
                optionValue="value" />
        </div>
        <div 
            class="flex justify-content-end gap-2">
            <p-button 
                label="Cancelar" 
                severity="secondary" 
                (onClick)="isNewCustomerModalOpen = false" />
            <p-button 
                label="Salvar" 
                (onClick)="createCustomer()" />
        </div>
    </p-dialog>
</div>
<!-- Modal Para Editar Cliente -->
<!-- Modal Para Cadastrar Cliente -->
<div 
    class="card flex justify-content-center">
    <p-dialog
        header="Editar Registro"
        [modal]="true"
        [(visible)]="isEditCustomerModalOpen"
        [style]="{ width: '25rem' }">
        <span 
            class="p-text-secondary block mb-5">
            Informações Do Cliente
        </span>
        <div 
            class="flex align-items-center gap-3 mb-3">
            <label
                for="username" 
                class="font-semibold w-6rem">
                Nome
            </label>
            <input
                pInputText 
                id="username" 
                class="flex-auto"
                [(ngModel)]="customer"
                autocomplete="off" />
        </div>
        <div 
            class="flex align-items-center gap-3 mb-5">
            <label 
                for="email" 
                class="font-semibold w-6rem">
                Tipo
            </label>
            <p-selectButton 
                [options]="personTypes" 
                [(ngModel)]="personTypeValue" 
                optionLabel="label" 
                optionValue="value" />
        </div>
        <div 
            class="flex justify-content-end gap-2">
            <p-button 
                label="Cancelar" 
                severity="secondary" 
                (onClick)="isNewCustomerModalOpen = false" />
            <p-button 
                label="Salvar" 
                (onClick)="createCustomer()" />
        </div>
    </p-dialog>
</div>
<!-- Modal Para Excluir Cliente -->
<!-- Pagina Principal -->
<div
    id="page"
    class="p-5 background">
    <h1>
        Clientes
    </h1>
    <p-card
        class="card">
        <p-toolbar 
            styleClass="mb-4 gap-2">
            <ng-template 
                pTemplate="left">
                <p-button
                    severity="success"
                    label="Novo"
                    (onClick)="showNewCustomerModal()"
                    class="mr-2" />
                <p-button
                    label="Editar"
                    (onClick)="showEditCustomerModal()"
                    class="mr-2" />
                <p-button
                    severity="danger"
                    disabled="true"
                    label="Excluir" />
            </ng-template>

            <ng-template pTemplate="right">
                <input
                    pInputText
                    type="text"
                    placeholder="Consultar Cliente" />
            </ng-template>
        </p-toolbar>
        <p-table
            #customersTable
            [value]="customersItems"
            [columns]="customersColumns"
            [scrollHeight]="'600px'" >
            <ng-template 
                pTemplate="header" 
                let-columns>
                <tr>
                    <th 
                        *ngFor="let col of columns">
                        {{ col.label }}
                    </th>
                    <th
                        >
                    </th>
                </tr>
            </ng-template>
            <ng-template 
                pTemplate="body" 
                let-customer>
                <tr>

                    <td>
                        {{ customer.id }}
                    </td>
                    <td>
                        {{ customer.name }}
                    </td>
                    <td>
                        <p-tag
                            [value]="customer.type" 
                            [severity]="getSeverity(customer.type)">
                        </p-tag>
                    </td>
                    <td>
                        <p-button
                            label="Editar"
                            (onClick)="showEditCustomerModal()"
                            class="mr-2" />
                        <p-button
                            severity="danger"
                            disabled="true"
                            label="Excluir" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
