<!-- Pagina Principal -->
<div
    id="page"
    class="pl-3 pr-3 background">
    <h1>
        FAQ
    </h1>
    <p-card
        class="card"
        [style]="{ height: '50vh' }">
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="Para que a Leitura Seja Válida, é necessario preecher leituras de todas as unidades ?">
                <p>
                    Sim, não deve-se deixar nenhum campo em branco, mesmo que o consumo seja ZERO
                </p>
            </p-accordionTab>
        </p-accordion>
    </p-card>
</div>
