.photo-border {
    padding: 10px; /* Espaçamento entre a borda e a foto */
    border: 2px solid #d9d9d9; /* Contorno cinza */
    border-radius: 5px; /* Bordas levemente arredondadas */
    background-color: #fff; /* Fundo branco para destacar */
    display: inline-block; /* Garante que o padding e a borda fiquem alinhados à imagem */
}

::ng-deep .p-tabview-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

::ng-deep .p-tabview-nav-link {
    width: 100%;
    text-align: center;
}