<!-- Overlay De Carregamento -->
<app-loading-overlay
  *ngIf="isLoading">
</app-loading-overlay>
<!-- Pagina Principal -->
<div
    id="page"
    class="pl-3 pr-3 background">
    <h1>
        Regiões
    </h1>
    <p-card
        class="card">
        <p-iconField 
            class="w-full"
            iconPosition="left">
            <p-inputIcon
                class="w-full"
                styleClass="pi pi-search" />
            <input
                class="w-full mb-3"
                type="text" 
                pInputText 
                placeholder="Buscar"
                [(ngModel)]="searchFilter"
                (input)="filterNeighborhoods()"/>
        </p-iconField>
        <p-table
            [value]="filteredNeighborhoods"
            [columns]="neighborhoodsColumns"
            styleClass="p-datatable-sm p-datatable-striped">
            <ng-template 
                pTemplate="header" 
                let-columns>
                <tr>
                    <th
                        style="width:15%">
                    </th>
                    <th 
                        *ngFor="let col of columns">
                        {{ col.label }}
                    </th>

                </tr>
            </ng-template>
            <ng-template 
                pTemplate="body" 
                let-neighborhood>
                <tr>
                    <td>
                        <button 
                            type="button" 
                            pButton
                            pRipple
                            [text]="true"
                            label="Ver Mais"
                            icon="pi pi-eye" 
                            (click)="openNeighborhood(neighborhood)">
                        </button>
                    </td>
                    <td>
                        {{ neighborhood.regiao }}
                    </td>
                    <td>
                        {{ neighborhood.leituras_ok }} / {{ neighborhood.leituras_totais }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
