<!-- Overlay De Carregamento -->
<app-loading-overlay
    *ngIf="isLoading">
</app-loading-overlay>
<!-- Scroll Top-->
<p-scrollTop />
<!-- Modal para fotos -->
<p-dialog
    [(visible)]="isPhotoModalOpen"
    [modal]="true"
    header="Medidor Da Unidade {{openedUnityInPhotoModal['economia']}}"
    [style]="{ width: '85%'}"
    closable="true"
    (onHide)="onHidePhotoModal()">
    <div 
        id="photos" 
        class="flex flex-column align-items-center gap-3">
        <!-- Foto "Vinda na economia" -->
        <img
            *ngIf="newPhoto == null"
            [src]="newPhoto"
            class="w-full mt-3 photo-border"
            height="250px"/>
        <!-- Nova foto tirada com a camera -->
        <img
            *ngIf="newPhoto != null"
            [src]="newPhoto"
            alt="Logo"
            class="w-full mt-3 photo-border"
            height="250px"/>
        <!-- Botão para substituir foto -->
        <p-button
            class="mt-3"
            label="Substituir Foto"
            icon="pi pi-edit"
            (onClick)="openCamera()">
        </p-button>
    </div>
</p-dialog>

<!-- Página Principal -->
<div
    id="page"
    class="pl-3 pr-3 background">
    <p-breadcrumb
        class="max-w-full mt-3"
        [model]="items">
        <ng-template
            pTemplate="item"
            let-item>
            <ng-container
                *ngIf="item.routerLink; else elseBlock">
                <a
                    [routerLink]="item.routerLink"
                    class="p-menuitem-link">
                    <span
                        [ngClass]="[item.icon ? item.icon : '', 'text-color']">
                    </span>
                    <span
                        class="text-primary font-semibold">
                        {{ item.label }}
                    </span>
                </a>
            </ng-container>
            <ng-template
                #elseBlock>
                <span
                    class="text-color">
                    {{ item.label }}
                </span>
            </ng-template>
        </ng-template>
    </p-breadcrumb>
    <h1>
        {{condominiumTitle}}
    </h1>
    <div
        class="text-lg font-medium text-900 mb-3">
        Código: {{condominiumId}}
    </div>
    <div
        class="text-lg font-medium text-900 mb-3">
        Observação: {{condominiumObservation}}
    </div>
    <p-card>
        <p-iconField
            class="w-full"
            iconPosition="left">
            <p-inputIcon
                styleClass="pi pi-search" />
            <input
                class="w-full"
                type="text"
                pInputText
                placeholder="Buscar"
                [(ngModel)]="searchFilter"
                (input)="filterApartments()" />
        </p-iconField>
        <p-dataView
            [value]="filteredApartments">
            <ng-template
                pTemplate="list"
                let-values>
                <div
                    class="col-12"
                    *ngFor="let item of values; let first = first"
                    class="col-12">
                    <div
                        class="flex flex-column align-items-center p-4 gap-3"
                        [ngClass]="{ 'border-top-1 surface-border': !first }">

                        <!-- Número do Apartamento Centralizado no Topo -->
                        <h2
                            class="text-center text-900 font-medium w-full mb-4">
                            Unidade Nº {{item['economia']}}
                        </h2>

                        <!-- Blocos de Leitura da Água e do Gás -->
                        <div
                            class="flex align-items-center w-full"
                            [ngClass]="{
                                'justify-content-between': item['leitura_atual_agua'] !== 'nao_possui' && item['leitura_atual_gas'] !== 'nao_possui',
                                'justify-content-center': item['leitura_atual_agua'] === 'nao_possui' || item['leitura_atual_gas'] === 'nao_possui'}">

                            <!-- Leitura da Água -->
                            <div
                                *ngIf="item['leitura_atual_agua'] !== 'nao_possui'"
                                class="flex flex-column align-items-center gap-2 text-center">
                                <img
                                    src="./assets/images/water.png"
                                    height="75px"
                                    alt="Imagem de consumo" />
                                <div>
                                    <span
                                        class="font-medium text-secondary text-sm">
                                        Leitura de Água
                                    </span>
                                </div>
                                <div
                                    class="surface-100 p-1"
                                    style="border-radius: 30px">
                                    <span 
                                        class="text-900 font-medium text-sm">
                                        Leitura Anterior: {{ item['leitura_anterior_agua']}}
                                    </span>
                                </div>
                                <p-tag
                                    *ngIf="item['leitura_atual_agua'] == null"
                                    class="mt-1"
                                    severity="danger" 
                                    value="Pendente"/>
                                <!-- Alinhamento à esquerda para o campo de entrada -->
                                <p-floatLabel
                                    class="col-1 left-aligned-input mt-3">
                                    <input
                                        id="username"
                                        type="number"
                                        pInputText
                                        inputmode="numeric"
                                        style="width: 8em;"
                                        (blur)="readingChanged(item, $event, 'agua')" 
                                        [(ngModel)]="item['leitura_atual_agua']"/>
                                    <label
                                        for="username">
                                        Leitura Atual
                                    </label>
                                </p-floatLabel>
                            </div>

                            <!-- Leitura do Gás -->
                            <div
                                *ngIf="item['leitura_atual_gas'] !== 'nao_possui'"
                                class="flex flex-column align-items-center gap-2 text-center">
                                <img
                                    src="./assets/images/fire.png"
                                    height="75px"
                                    alt="Imagem de consumo" />
                                <div>
                                    <span
                                        class="font-medium text-secondary text-sm">
                                        Leitura de Gás
                                    </span>
                                </div>
                                <div
                                    class="surface-100 p-1"
                                    style="border-radius: 30px">
                                    <span 
                                        class="text-900 font-medium text-sm">
                                        Leitura Anterior: {{ item['leitura_anterior_gas']}}
                                    </span>
                                </div>
                                <p-tag
                                    *ngIf="item['leitura_atual_gas'] == null"
                                    class="mt-1"
                                    severity="danger" 
                                    value="Pendente"/>
                                <p-floatLabel
                                    class="col-1 left-aligned-input mt-3">
                                    <input
                                        id="username"
                                        type="text"
                                        pInputText
                                        inputmode="numeric"
                                        style="width: 8em;"
                                        (blur)="readingChanged(item, $event, 'gas')" 
                                        [(ngModel)]="item['leitura_atual_gas']"/>
                                    <label
                                        for="username">
                                        Leitura Atual
                                    </label>
                                </p-floatLabel>
                            </div>
                        </div>
                        <p-button
                            label="Fotos"
                            icon="pi pi-camera"
                            (onClick)="showPhotoModal(item)">
                        </p-button>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </p-card>
</div>
