.log-in-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 115vh;
    /* Faz o contêiner ocupar 100% da altura da tela */
    background-color: #f0f0f0;
}

.log-in-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    overflow-y: auto;
    background-color: white;
}

.p-fields,
.p-field-checkbox {
    margin-bottom: 35px;
}

