
<div
  class="log-in-page">
  <h1
    class="company-name">
    Solução Condominios
  </h1>
  <p-card
    class="log-in-card mb-3"
    header="Login">
    <div
      class="p-fluid">
      <div
        class="p-fields">
        <p-floatLabel>
          <input
            id="username"
            type="text"
            pInputText />
          <label
            for="input">
            Usuario
          </label>
        </p-floatLabel>
      </div>
      <div
        class="p-fields">
        <p-floatLabel>
          <p-password
            [feedback]="false"
            [toggleMask]="true" />
          <label
            for="password">
            Senha
          </label>
        </p-floatLabel>
      </div>
      <div
        class="p-fields">
        <p-button
          label="Login"
          class="p-button-success"
          (onClick)="logIn()">
        </p-button>
      </div>
    </div>
  </p-card>
</div>
