<!-- Overlay De Carregamento -->
<app-loading-overlay
  *ngIf="isLoading">
</app-loading-overlay>
<p-scrollTop  />

<!-- Pagina Principal -->
<div
    id="page"
    class="pl-3 pr-3 background">
    <p-breadcrumb 
        class="max-w-full mt-3" 
        [model]="items">
        <ng-template 
            pTemplate="item" 
            let-item>
            <ng-container 
                *ngIf="item.routerLink; else elseBlock">
                <a 
                    [routerLink]="item.routerLink" 
                    class="p-menuitem-link">
                    <span 
                        [ngClass]="[item.icon ? item.icon : '', 'text-color']">
                    </span>
                    <span 
                        class="text-primary font-semibold">
                        {{ item.label }}
                    </span>
                </a>
            </ng-container>
            <ng-template 
                #elseBlock>
                <span 
                    class="text-color">
                    {{ item.label }}
                </span>
            </ng-template>
        </ng-template>
    </p-breadcrumb>
    <h1>
        {{regionName}}
    </h1>
    <div
        class="text-lg font-medium text-900 mb-3">
        Selecionando uma linha, voce se posiciona no registro!
    </div>
    <p-card
        class="card">
        <p-iconField 
            class="w-full"
            iconPosition="left">
            <p-inputIcon 
                styleClass="pi pi-search" />
            <input
                class="w-full mb-3"
                type="text" 
                pInputText 
                placeholder="Buscar"
                [(ngModel)]="searchFilter"
                (input)="filterCondominiums()"/>
        </p-iconField>
        <p-table
            class="pb-3"
            [value]="filteredCondominiums"
            [columns]="condominiumsColumns"
            styleClass="p-datatable-xl p-datatable-striped"
            scrollHeight="600px" >
            <ng-template 
                pTemplate="header" 
                let-columns>
                <tr>
                    <th 
                        *ngFor="let col of columns">
                        {{ col.label }}
                    </th>

                </tr>
            </ng-template>
            <ng-template 
                pTemplate="body" 
                let-condominium>
                <tr
                    (click)="openCondominium(condominium)">
                    <td>
                        {{ condominium.condominio }}
                    </td>
                    <td>
                        <p-tag 
                            [value]="condominium['status_medicao']" 
                            [severity]="getStatus(condominium['status_medicao'])" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
