<!-- Overlay De Carregamento -->
<app-loading-overlay
  *ngIf="isLoading">
</app-loading-overlay>

<!-- Pagina Principal -->
<div
    id="page"
    class="pl-3 pr-3 background">
    <h1>
        {{regionName}}
    </h1>
    <p-card
        class="card">
        <p-iconField 
            class="w-full"
            iconPosition="left">
            <p-inputIcon 
                styleClass="pi pi-search" />
            <input
                class="w-full mb-3"
                type="text" 
                pInputText 
                placeholder="Buscar"
                [(ngModel)]="searchFilter"
                (input)="filterCondominiums()"/>
        </p-iconField>
        <p-table
            class="pb-3"
            [value]="filteredCondominiums"
            [columns]="condominiumsColumns"
            styleClass="p-datatable-sm p-datatable-striped">
            <ng-template 
                pTemplate="header" 
                let-columns>
                <tr>
                    <th
                        style="width:10%">
                    </th>
                    <th 
                        *ngFor="let col of columns">
                        {{ col.label }}
                    </th>

                </tr>
            </ng-template>
            <ng-template 
                pTemplate="body" 
                let-condominium>
                <tr>
                    <td>
                        <button 
                            type="button" 
                            pButton
                            pRipple
                            [text]="true"
                            label="Visualizar"
                            icon="pi pi-eye" 
                            (click)="openCondominium(condominium)">
                        </button>
                    </td>
                    <td>
                        {{ condominium.condominio }}
                    </td>
                    <td>
                        <p-tag 
                            [value]="condominium['status_medicao']" 
                            [severity]="getStatus(condominium['status_medicao'])" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
