<p-menubar
    [model]="menuItems">
    <ng-template 
        pTemplate="item" 
        let-item 
        let-root="root">
        <a 
            pRipple 
            class="flex align-items-center p-menuitem-link">
            <span 
                [class]="item.icon">
            </span>
            <span 
                class="ml-2">
                {{ item.label }}
            </span>
        </a>
    </ng-template>
    <ng-template 
        pTemplate="end">
        <div 
            class="flex align-items-center gap-2">
            <p-button 
                label="Sair" 
                [text]="true"
                icon="pi pi-sign-out"
                (onClick)="signOut()"  />
        </div>
    </ng-template>
</p-menubar>