<p-dialog
    [(visible)]="isModalOpen"
    [modal]="true"
    header="Leituras Pendentes"
    [style]="{ width: '400px' }"
    closable="false">
    <p>{{modalText}}</p>

    <ul>
        <li *ngFor="let unit of pendingUnits">Unidade Nº {{ unit }}</li>
    </ul>

    <p>Deseja realmente sair?</p>

    <div class="flex justify-content-end gap-2">
        <p-button 
            label="Cancelar" 
            icon="pi pi-times" 
            (onClick)="closeModal(false)" 
            severity="secondary">
        </p-button>

        <p-button 
            label="Sair" 
            icon="pi pi-check" 
            (onClick)="closeModal(true)" 
            severity="danger">
        </p-button>
    </div>
</p-dialog>
